<div class="row">
  <div class = "span5">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">
        Videobase
        </a>
        
        <ul class= "nav">
          <li><a href="/videos/new">New Video :)</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>