
<div class="span7 ">
  <form method='post' action='/videos/create' >
    <input type='text' name='title' placeholder='title...'/></br>
    <input type='text' name='description' placeholder='description...' /></br>
    <input type='text' name='url' placeholder='url...' /></br>
    <input type='text' name='genre' placeholder='genre...' /></br>
    <button class='btn'>Insert</button>
  </form>
  <form method='get' action='/videos' >
    <button class='btn'>Cancel</button>
  </form>
</div>
