      <div class="row">
        <div class = "span5">
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/">
              Friendbase
              </a>
              <ul class= "nav">
                <li><a href="/new">New Friend :)</a></li>
                <li><a href="/friends">Friends</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>