

  <div class="span3">

    <form action='/create' method='post'>
      
      <input type='text' name='name' autofocus>name</input>
  
      </br></br>

      <input type='text' name='age' >age</input>

      </br></br>

      <input type='text' name='email' >email</input>

      </br></br>

      <input type='text' name='phone' >phone</input>

      </br></br>
      
      <input type="radio" name="gender" value="m">  Male</input><br>
      <input type="radio" name="gender" value="f">  Female</input>

      
      
  </div>


  <div class="span3">

      
      <input type='text' name='image' >image </input>
  
      </br></br>

      <input type='text' name='facebook' >facebook </input>

      </br></br>

      <input type='text' name='website' >website </input>

      </br></br>

      <input type='text' name='twitter' >twitter</input>

      </br></br>

      <input type='text' name='github' >github</input>

    
  </div>

  <div class="span3">
    <button class="btn">Enter</button>
  </div>
</form>
