
<div class="row">
  <div class="span3">
    
    <form action='/create' method='post'>
      
      <input type='text' name='name' autofocus>Name</input>
  
      </br></br>

      <input type='text' name='age' autofocus>Age</input>

       </br></br>

      <input type='text' name='gender' autofocus>Gender</input>
      
      <button>Enter</button>
      
    </form>
  </div>
</div>
