

.toe_box{
  width: 5em;
  height: 5em;
  border: 1px solid black;
  display: inline-block;
  padding:.2em;
  margin:.2em;
}

.player_1_owned{
  background-color: red;
}

.player_2_owned{
  background-color: gray;
}